.bold-font {
  font-weight: bold;
}
.flagimagesize {
  height: 140px;
  object-fit: cover;
}
.button-style{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  
}

.button-style span {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  opacity: 1;
 
}
.dark {
  background-color: #01010af0; /* Dark background */
  color: #ffffff; 
}
.light {
  background-color: #ffffff;  /* Light background */
  color: #000000;  /* Dark text */
}

.dropdown select {
  height: 70px;
  width: 250px;
  border-radius: 0.4rem;
  outline: none;
  padding:17px;
  border-width: 3px;
  border-color: rgb(243, 241, 241);
  font-size: 18px;
  /* margin-left: 300px; */
}
.input{
  padding: 20px 45px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
.search-dropdown-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}
