.bold-font {
  font-weight: bold;
}
.flagimagesize {
  height: 140px;
  object-fit: cover;
}
.button-style span {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
}
.dark {
  background-color: rgba(0, 0, 0, 0.792);
  color: white;
}
.light {
  background-color: white;
  color: black;
}

.dropdown select {
  height: 60px;
  width: 250px;
  border-radius: 0.4rem;
  outline: none;
  padding: 15px;
  border-width: 3px;
  border-color: rgb(243, 241, 241);
  font-size: 18px;;
}
.input {
  height: 60px;
  width: 250px;
  display: block;
  border-radius: 0.4rem;
  padding: 15px;
  border-width: 3px;
  border-color: rgb(236, 233, 233);
}
