.bold-font {
  font-weight: bold;
}
.flagimagesize {
  height: 140px;
  object-fit: cover;
}
.button-style{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  
}

.button-style span {
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  opacity: 1;
 
}
.dark {
  background-color: #01010af0; /* Dark background */
  color: #ffffff; 
  transition: all.2s;
}
.light {
  background-color: #ffffff;  /* Light background */
  color: #000000;  /* Dark text */
}

.dropdown select {
  border-radius: 0.4rem;
  outline: none;
  padding: 20px 40px;
  border-width: 3px;
  border-color: rgb(243, 241, 241);
  font-size: 16px;
  /* margin-left: 300px; */
}
.input{
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}
@media (max-width:400px) {
  .navbar {
      flex-direction: column !important;
      text-align: center;
  }
  .navbar .px-5 {
      padding: 0!important;
  }
  .navbar .mx-5 {
      margin: 0!important;
  }
  .button-style {
      font-size: 12px;
      padding:5px;
  }
  .input {
    width: 90%;
    font-size: 14px;
    padding: 8px;
  }
}
@media (max-width:250px){
  .navbar {
    flex-direction: column !important;
    text-align: center;
}
.navbar .px-5 {
    padding: 0!important;
}
.navbar .mx-5 {
    margin: 0!important;
}
.button-style {
    font-size: 12px;
    padding:5px;
}
  .input {
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    padding:8px;
  }
}
.carddetails{
 margin-top: -80px;

}
.bordercountry{
  padding: 8px 16px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);

}
.cardhover:hover{
  cursor: pointer;
}
.search-input {
  /* Space for the icon */
  height: 65px;

  text-align: left;
  padding-left:40px; /* Space for the icon */
  text-indent: 25px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 5px; /* Adjust left spacing */
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  /* gap:5px; */
  font-size: 16px;
  color: gray;
  pointer-events: none; /* Prevents interaction */
}
